* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -webkit-user-zoom: none;
  -webkit-user-modify: none;
}
html {
  scroll-behavior: smooth;
}
:root {
  --color_principal: rgba(33, 107, 192, 0.767);
  --color_secundario: green;
  --color_texto: #777b7d;
  --color_texto_hover: rgba(33, 107, 192, 0.767);
  --color_titulo_footer: #3d4246;
}

/*Laptop u PC*/
@media only screen and (orientation: landscape) {
  /*INDEX*/
  @media screen and (min-width: 1024px) {
    body {
      background-color: #e7e7e763;
      width: 100vw;
      height: 100vh;
      padding: 0;
      margin: 0;
      overflow-x: hidden;
    }
    header {
      width: 100%;
      height: 100px;
      z-index: 100;
      position: -webkit-sticky;
    }

    .container__header {
      width: 100%;
      height: 100%;
      margin: auto;
      display: flex;
      padding: 0px 20px;
      align-items: center;
    }
    .icono_menu_mobile {
      display: none;
    }
    .logo {
      display: flex;
      align-items: center;
      position: relative;
    }

    .logo img {
      width: 100px;
    }

    .menu {
      display: flex;
      align-items: center;
      margin: auto;
    }

    .menu nav ul {
      display: flex;
      gap: 20px;
    }

    .menu nav ul li {
      list-style: none;
      margin: 20px 16px;
    }
    .menu nav ul > .inicio__activo {
      border-bottom: 1px solid var(--color_secundario);
    }
    .menu nav ul li a {
      color: var(--color_texto);
      font-size: 16px;
      position: relative;
    }

    .menu nav ul li a:hover {
      color: green;
      border-bottom: 2px solid rgba(33, 107, 192, 0.767);
    }

    .socialMedia {
      display: flex;
      gap: 20px;
    }

    .socialMedia a {
      margin: 0px 4px;
    }
    .socialMedia a > svg {
      font-size: 22px;
      opacity: 80%;
      color: var(--color_titulo_footer);
    }

    /* Carrousel*/
    #carrousel {
      width: 100%;
      height: 85vh;
      background-color: rgb(172, 170, 170);
      display: flex;
      margin: 0 auto;
    }
    #carrousel > #imagen {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
    #descripcion {
      color: var(--color_principal);
      text-shadow: 0px 0px 10px black;
      text-align: center;
      margin-top: 42vh;
      font-size: 30px;
    }
    /*CONTROLES DEL CARROUSEL*/
    .carrousel__control {
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.356);
      position: absolute;
      width: 200px;
      height: 40px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    #retroceder,
    #avanzar,
    #pausa {
      width: 30px;
      height: 30px;
      border: 0;
      font-size: 2rem;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 10px;
      opacity: 50%;
      background-color: transparent;
    }
    button#pausa {
      margin: auto;
    }
    button#retroceder {
      position: absolute;
      left: 0;
    }
    button#avanzar {
      position: absolute;
      right: 0;
    }
    button:hover {
      cursor: pointer;
    }
    /*CATALOGO*/
    hr {
      opacity: 30%;
    }

    div.contenedor_catalogo {
      width: 100%;
      margin: auto;
      overflow-x: hidden;
    }
    .titulo_catalogo {
      text-align: center;
      color: var(--color_titulo_footer);
      font-weight: 800;
    }
    .contenedor_producto{
      padding: 0 30px 10px;
      margin-top: 2vh;
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;    
    }
    .card_producto{
      width: 250px;
      height: 400px;
      box-shadow: 0px 0px 2px 0px  black;
    }

    /*Pie de pagina*/
    footer {
      width: 100vw;
      height: 600px;
      background-color: rgba(240, 240, 240, 0.644);
      margin-top: 20px;
      padding: 20px 0 20px;
    }
    footer > .contenido_footer {
      width: 100%;
      height: 100%;
      padding-left: 55px;
      padding-right: 55px;
    }
    footer > .contenido_footer > p.titulo {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      font-weight: 600;
      color: var(--color_titulo_footer);
    }
  }
}
/*Tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #ffffff63;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    height: 80px;
    z-index: 100;
    position: -webkit-sticky;
    background-color: rgba(233, 230, 230, 0.521);
    overflow: hidden;
    padding: 10px;
  }

  .container__header {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 0px 20px;
  }
  .icono_menu_mobile {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .logo img {
    width: 100px;
    height: 100%;
    padding: 5px;
  }
  .menu {
    display: flex;
    align-items: center;
    margin: auto;
    width: 60%;
    justify-content: center;
  }

  .menu nav {
    margin: 0px;
  }

  .menu nav ul {
    display: flex;
  }

  .menu nav ul li {
    list-style: none;
    margin: 20px 16px;
  }
  .menu nav ul > .inicio__activo {
    border-bottom: 1px solid var(--color_secundario);
  }
  .menu nav ul li a {
    color: var(--color_texto);
    font-size: 16px;
    position: relative;
  }
  .socialMedia {
    font-size: 20px;
    position: relative;
    right: 10px;
    display: flex;
    gap: 20px;
    margin: auto 0;
  }
  /*Carrousel */
  .contenedor_carrousel {
    width: 100%;
    height: 70vh;
  }
  #carrousel {
    width: 100%;
    height: 430px;
    background-color: rgb(172, 170, 170);
    margin: auto;
    overflow: hidden;
  }
  #carrousel > #imagen {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #descripcion {
    position: absolute;
    width: 90%;
    height: 200px;
    color: var(--color_texto);
    text-align: center;
    font-size: 30px;
    top: 55vh;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 10px 0px black;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  /*CONTROLES DEL CARROUSEL*/
  .carrousel__control {
    display: flex;
    align-items: center;
    background-color: rgb(255 255 255);
    position: absolute;
    width: 90%;
    height: 40px;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 2px 10px 0px black;
  }

  #retroceder,
  #avanzar,
  #pausa {
    width: 30px;
    height: 30px;
    border: 0;
    font-size: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    opacity: 40%;
    background-color: transparent;
  }
  button#pausa {
    margin: auto;
  }
  button#retroceder {
    position: absolute;
    left: 0;
  }
  button#avanzar {
    position: absolute;
    right: 0;
  }
    /*CATALOGO*/
  .container_all_catalogo_opacidad {
    transition: opacity 3s ease;
    background-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 0;
  }
  hr {
    opacity: 30%;
  }
  div.contenedor_catalogo {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .titulo_catalogo {
    text-align: center;
    color: var(--color_titulo_footer);
    font-weight: 800;
  }
  .contenedor_producto{
    padding: 10px;
    margin-top: 2vh;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;    
    overflow-x: hidden;
    scrollbar-width: none;
    overflow-y: scroll;
  }

  .card_producto{
    width: 170px;
    height: 230px;
    box-shadow: 0px 0px 2px 0px  black;
  }
  /*Pie de pagina*/
  footer {
    width: 100vw;
    height: 600px;
    background-color: rgba(240, 240, 240, 0.644);
    margin-top: 20px;
    padding: 20px 0 20px;
  }
  footer > .contenido_footer {
    width: 100%;
    height: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
  footer > .contenido_footer > p.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--color_titulo_footer);
  }
}

/*Celular*/
@media screen and (max-width: 767px) {
  body {
    background-color: #ffffff63;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: rgba(233, 230, 230, 0.521);
    overflow-x: hidden;
  }

  .container__header {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    padding: 0px 20px;
  }
  .icono_menu_mobile {
    display: block;
    position: absolute;
    margin-top: 20px;
    right: 10px;
    float: right;
    font-size: 30px;
    z-index: 100;
  }
  .logo {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  .logo img {
    width: 100px;
    height: 100%;
    padding: 5px;
  }
  .menu {
    background-color: rgb(231, 231, 231);
    margin: auto;
    width: 85vw;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    display: none;
    z-index: 10;
    padding: 10px;
  }
  .menu > nav {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .menu > nav > ul > .inicio__activo {
    border-bottom: 1px solid var(--color_secundario);
  }

  .menu > nav > ul {
    gap: 20px;
    position: relative;

    display: flex;
    /* border: 1px solid; */
    flex-direction: column;
  }
  .menu > nav > ul > li > a {
    color: var(--color_texto);
  }
  .socialMedia {
    font-size: 20px;
    position: relative;
    left: 100px;
    margin: auto 0;
    display: flex;
    gap: 20px;
  }
  /*Al abrir menu oscurezco todo lo demas*/
  .container_all {
    width: 100vw;
    height: 100%;
  }
  .container_all_opacidad {
    transition: 1s ease-out;
    background-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 0;
  }
  .contenedor_carrousel_position {
    position: absolute;
    z-index: -1;
  }
  /*Carrousel */
  .contenedor_carrousel {
    width: 100%;
    height: 70vh;
  }
  #carrousel {
    width: 100%;
    height: 210px;
    background-color: rgb(172, 170, 170);
  }
  #carrousel > #imagen {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #descripcion {
    position: relative;
    width: 90%;
    height: 200px;
    color: var(--color_texto);
    text-align: center;
    font-size: 30px;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(255, 255, 255);

    display: flex;
    align-items: center;
    padding: 10px;
  }

  /*CONTROLES DEL CARROUSEL*/
  .carrousel__control {
    display: flex;
    align-items: center;
    background-color: rgb(255 255 255);
    position: absolute;
    width: 90%;
    height: 40px;
    top: 32vh;
    left: 50%;
    transform: translateX(-50%);
  }

  #retroceder,
  #avanzar,
  #pausa {
    width: 30px;
    height: 30px;
    border: 0;
    font-size: 2rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
    opacity: 20%;
    background-color: transparent;
  }
  button#pausa {
    margin: auto;
  }
  button#retroceder {
    position: absolute;
    left: 0;
  }
  button#avanzar {
    position: absolute;
    right: 0;
  }
  /*CATALOGO*/
  .container_all_catalogo{
    width: 100%;
    height: max-content;
    overflow-x: hidden;
  }
  .container_all_catalogo_opacidad {
    transition: opacity 3s ease;
    background-color: rgba(0, 0, 0, 0.747);
    position: absolute;
    top: 0;
  }
  hr {
    opacity: 30%;
  }
  div.contenedor_catalogo {
    width: 100%;
    overflow-x: hidden;
    border: 1px solid;
  }
  .titulo_catalogo {
    text-align: center;
    color: var(--color_titulo_footer);
    font-weight: 800;
  }
  .contenedor_producto{
    padding: 10px;
    margin-top: 2vh;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;    
    overflow: hidden;

  }

  .card_producto{
    width: 170px;
    height: 240px;
    box-shadow: 0px 0px 2px 0px  black;
  }
  /*Pie de pagina*/
  footer {
    width: 100vw;
    height: 600px;
    background-color: rgba(240, 240, 240, 0.644);
    margin-top: 20px;
    padding: 20px 0 20px;
  }
  footer > .contenido_footer {
    width: 100%;
    height: 100%;
    padding-left: 55px;
    padding-right: 55px;
  }
  footer > .contenido_footer > p.titulo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--color_titulo_footer);
  }
}
